* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.preload-view, .bg-img, .checked-view {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.form {
  padding: 5em 3em;
}

.margin {
  margin: 1em 0;
}

 /* Estilos del preload */
.preload-view {
  background: linear-gradient(to bottom right, #530060, #d40985);
}

.logo {
  margin: 35vh auto;
  text-align: center;
  width: 170px;
}

img {
  width: 100%;
}

/* Estilos 2da vista */
.bg-img {
  background-image: url(../assets/images/car.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-white {
  margin: 7px auto 50px auto;
  text-align: center;
  width: 70px;
}

.logo-pink {
  margin: 30vh auto 20vh auto;
  text-align: center;
  width: 180px;
}

.buttons {
  margin: 10vh auto 20vh auto;
  text-align: center;
  width: 180px;
}

.button, .anchor {
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 7px;
  color: #ffffff;
  padding: 9px 7px;
}

.button:hover, .anchor:hover {
  background: #ffffff;
  color: #ec0087;
  text-decoration: none;
}

/* Form 1 */
.display-flags {
  margin-right: 0;
}

.title {
  text-align: center;
}

.title::after {
  content: "";
  border: 1.5px solid #5bc0de;
  display: block;
  margin-bottom: 1.5em;
  width: 100%;
}

.nav-tabs>li.active>a {
  color: #5bc0de;
  font-weight: bold;
  font-size: 18px;
}

/* Form 2 */
.lab {
  color: #5bc0de;
  font-weight: bold;
  font-size: 20px;
}

.left {
  float: left;
  padding-left: 1em;
}

.pager li>a {
  background-color: #5bc0de;
  color: #ffffff;
}

/* last view */
.checked-view {
  background-image: url(../assets/images/car2.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}