<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/main.css">
  <title>Checked</title>
</head>
<body>
  <section class="checked-view">
    <div class="logo-white">
      <img src="../assets/images/logo-white.png" alt="logo-lyft-white">
    </div>
    <div class="logo-pink">
      <img src="../assets/images/check.png" alt="successful-access">
    </div>
  </section>
</body>
</html>