<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Form-3</title>
</head>
<body>
  <section class="form">
    <div class="row">
      <div class="left">
        <nav aria-label="...">
          <ul class="pager">
            <li><a href="form2.html"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
          </ul>
        </nav>      
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 title">
        <h1>Sign up</h1>
        <h4>Join now for free ride credit</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user-o" aria-hidden="true"></i></span>
          <input type="text" class="form-control user" placeholder="Name / lastname" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 margin">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          <input type="text" class="form-control email" placeholder="email" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> I agree to Lyft's <a href="#">Terms of service</a>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 margin">
        <button type="button" class="btn btn-info btn-block" disabled ="true">Sign in</button> 
      </div>
    </div>
  </section>
  <!-- Source -->
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/form.js"></script>
</body>
</html>