<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>lyft-mobile</title>
</head>
<body>
  <section class="bg-img" id="bg-img">
    <div class="logo-white">
      <img src="../assets/images/logo-white.png" alt="logo-lyft-white">
    </div>
    <div class="logo-pink">
      <img src="../assets/images/logo-pink.png" alt="logo-lyft-pink">
    </div>
    <div class="buttons">
      <button class="button" type="submit">LOG IN</button>
      <a class="anchor" href="form1.html">SIGN UP</a>
    </div>
  </section>   
</body>
</html>